@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GardensCM";
  font-display: swap;
  src: url("../fonts/GardensCM.woff") format("woff"), url("../fonts/GardensCM.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Heavy";
  font-display: swap;
  src: url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Regular";
  font-display: swap;
  src: url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Light";
  font-display: swap;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1130px;
  padding: 0 20px;
  margin: 0 auto;
  min-width: 0;
}

.scroll_top {
  position: fixed;
  top: 88%;
  right: 2%;
  width: 48px;
  height: 48px;
  border: 1px solid #EA5546;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  cursor: pointer;
  z-index: 99999;
}

.scroll_top svg {
  fill: #ea5546;
}

.scroll_top:hover {
  background-color: #ea5546;
  -webkit-transition: linear ease-out 0.6s;
  -o-transition: linear ease-out 0.6s;
  transition: linear ease-out 0.6s;
}

.scroll_top:hover svg {
  fill: #fff;
}

.scroll_top:active {
  border: 1px solid #ef8074;
  background-color: #ef8074;
}

.scroll_top:active svg {
  fill: #ffffff;
}

.scroll_top.scroll_hide {
  display: none;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone_icon {
  width: 44px;
  height: 44px;
  background-color: rgba(234, 85, 70, 0.05);
  border-radius: 50%;
  cursor: pointer;
  display: none;
}

.phone_icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone_icon svg {
  fill: #EA5546;
}

.phone_icon:hover {
  background-color: #EA5546;
}

.phone_icon:hover svg {
  fill: #fff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_info {
  padding-left: 34px;
  font-size: 12px;
  line-height: 120%;
  color: #949494;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgba(234, 85, 70, 0.05);
  margin-left: 5px;
}

.icon svg {
  fill: #ea5546;
}

.addres_icon {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgba(234, 85, 70, 0.05);
  margin-left: 5px;
  cursor: pointer;
}

.addres_icon svg {
  fill: #ea5546;
}

.addres_icon:hover {
  background-color: #ea5546;
  -webkit-transition: linear ease-out 0.6s;
  -o-transition: linear ease-out 0.6s;
  transition: linear ease-out 0.6s;
}

.addres_icon:hover svg {
  fill: #fff;
}

.address_inner {
  padding-left: 15px;
  font-size: 12px;
  color: #250704;
  font-weight: 500;
}

.contacts-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .contacts_tel {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts_tel {
  margin-right: 20px;
}

.contacts_tel a {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.contacts_tel a:hover {
  color: #ea5546;
  -webkit-transition: linear ease-out 0.5s;
  -o-transition: linear ease-out 0.5s;
  transition: linear ease-out 0.5s;
}

.callme {
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  color: #EA5546;
  font-weight: 500;
  margin-top: 6px;
  cursor: pointer;
}

.callme:hover {
  -webkit-box-shadow: 0px 1px 0px 0px #ea5546;
          box-shadow: 0px 1px 0px 0px #ea5546;
  -webkit-transition: linear ease-out 0.5s;
  -o-transition: linear ease-out 0.5s;
  transition: linear ease-out 0.5s;
}

.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_info {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_info h1 {
  font-family: "GardensCM", sans-serif;
  font-size: 56px;
  line-height: 110%;
  color: #250704;
  margin-top: 30px;
  margin-bottom: 20px;
}

.header_info h1 span {
  color: #EA5546;
}

.header_info-title > p {
  font-size: 18px;
  color: #949494;
  margin-bottom: 50px;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list_item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.point {
  width: 10px;
  height: 10px;
  border: 1px solid #EA5546;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.item_content {
  max-width: 190px;
  margin-left: 15px;
}

.header_info-img {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  grid-template-rows: repeat(4, 170px);
  grid-gap: 10px;
}

.header_info-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

picture:nth-child(1) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

picture:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

picture:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

picture:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

picture:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

picture:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

picture:nth-child(7) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.header_button {
  margin-top: 122px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header_button .header_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header_button .vertical-line {
  width: 1px;
  height: 30px;
  background-color: #ea5546;
  position: absolute;
  top: -83px;
  left: 119px;
}

.header_button .horisontal-line {
  width: 343px;
  height: 1px;
  background-color: #ea5546;
  position: absolute;
  top: 24px;
  left: 309px;
}

.instructor-container {
  display: none;
}

.top_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 126px;
}

.top_info svg {
  width: 36px;
  height: 26px;
}

.top_info h3 {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 70px;
  font-family: "GardensCM", sans-serif;
  line-height: 110%;
  font-size: 32px;
  color: #250704;
}

.instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 120px;
  min-width: 0;
}

.instructor h4 {
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  margin-left: -30px;
  color: #250704;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  margin-top: 53px;
  margin-bottom: 61px;
}

.instructor .name-info {
  margin-left: 30px;
  width: 589px;
  font-size: 26px;
  line-height: 130%;
  color: #250704;
}

.instructor .instructor_horisontal-line {
  width: 250px;
  height: 1px;
  background-color: #EA5546;
  position: absolute;
  top: 204px;
  left: 412px;
}

.instructor .instructor_vertical-line {
  width: 1px;
  height: 160px;
  background-color: #EA5546;
  position: absolute;
  bottom: -126px;
  left: 20px;
  z-index: 1;
}

.fone_picture {
  position: relative;
}

.fone_picture img {
  position: absolute;
  -webkit-filter: contrast(0.2) opacity(0.1);
          filter: contrast(0.2) opacity(0.1);
  width: 267px;
  height: 383px;
  -o-object-fit: cover;
     object-fit: cover;
  top: -94px;
  right: 0;
}

.instructor_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.instructor_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.instructor_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px 0 168px;
  font-size: 13px;
}

.instructor_information-inner {
  margin-bottom: 162px;
}

.revert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.zero_padding {
  padding: 0;
}

.forty_margin {
  margin-top: 40px;
}

#line_right {
  right: 20px;
  left: unset;
  top: 366px;
}

.text_align-right {
  text-align: right;
}

.margin_right-30 {
  margin-right: 30px;
}

.margin-30 {
  margin-right: -30px;
}

#horisontal_reset {
  left: unset;
  right: 342px;
}

.parent_bg {
  position: relative;
}

.bg_plant {
  position: absolute;
  left: -225px;
  top: -562px;
  -webkit-filter: contrast(0.2) opacity(0.1);
          filter: contrast(0.2) opacity(0.1);
}

.instructor-container {
  margin: 0 -20px;
  margin-bottom: 20px;
}

.instructor-wrapper {
  width: 100%;
  overflow: hidden;
}

.instructor-wrapper .instructor_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: -270px;
}

.instructor-wrapper .instructor_inner .instructor-slide {
  margin: 0 6px;
}

.info {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  overflow: hidden;
  margin: 0 auto;
}

.info .top_info h3 {
  margin-bottom: 20px;
}

.info_title {
  position: relative;
  margin-bottom: 70px;
}

.info_title .info_bcg-right {
  position: absolute;
  top: -86px;
  right: -166px;
  -webkit-filter: contrast(0.2) opacity(0.1);
          filter: contrast(0.2) opacity(0.1);
}

.info_title .info_bcg-left {
  position: absolute;
  top: -86px;
  left: -166px;
  -webkit-filter: contrast(0.2) opacity(0.1);
          filter: contrast(0.2) opacity(0.1);
}

.red_text {
  color: #EA5546;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #EA5546;
  min-width: 270px;
  margin-right: 10px;
}

.card_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0  13px 15px;
}

.dark_btn.width100 {
  width: 100%;
}

.card_header {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "GardensCM", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid #EA5546;
  padding: 15px 40px;
  text-align: center;
}

.card_desc {
  padding: 14px 15px 20px 15px;
  font-size: 13px;
  color: #939393;
  line-height: 140%;
}

.card_teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 25px 15px;
  font-family: "Geometria", sans-serif;
}

.card_teacher .card_teacer-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}

.card_teacher .card_teacer-desc svg {
  margin-right: 7px;
}

.card_teacher .card_teacer-desc div {
  font-size: 13px;
  font-weight: 400;
}

.card_teacher .card_teacer-name {
  font-size: 13px;
  font-weight: 500;
  font-family: "Geometria", sans-serif;
}

.card_price {
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_sub-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  padding: 0 15px 25px 15px;
}

.card_sub-info svg {
  margin-right: 7px;
}

.more_info {
  border: 1px solid #EA5546;
  padding: 20px;
  margin-bottom: 100px;
}

.more_info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.more_info-title .info_open-btn {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(234, 85, 70, 0.05);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.more_info-title .info_open-btn svg {
  fill: #EA5546;
}

.more_info-title .info_open-btn:hover {
  background-color: #EA5546;
  -webkit-transition: ease-out linear 0.6s;
  -o-transition: ease-out linear 0.6s;
  transition: ease-out linear 0.6s;
}

.more_info-title .info_open-btn:hover svg {
  fill: #ffffff;
}

.more_info-content {
  overflow: hidden;
  max-height: 10000px;
  -webkit-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
}

.more_info-content.active_content {
  max-height: 0;
  -webkit-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
}

.info_open-btn.close_panel {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #EA5546;
  -webkit-transition: ease-out linear 0.6s;
  -o-transition: ease-out linear 0.6s;
  transition: ease-out linear 0.6s;
}

.info_open-btn.close_panel svg {
  fill: #ffffff;
}

.two_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(37, 7, 4, 0.05);
  padding: 15px 0;
}

.two_column:first-child {
  margin-top: 17px;
}

.three_column {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: minmax(520px, 1fr) 1fr 1fr;
  border-bottom: 1px solid rgba(37, 7, 4, 0.05);
  padding: 15px 0;
}

.no_border-bottom {
  border-bottom: none;
}

.last_column {
  justify-self: end;
}

.main_btn-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.bold_text {
  font-weight: 500;
}

.lead {
  margin-bottom: 80px;
}

.lead_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lead_inner h6 {
  font-size: 56px;
  font-family: "GardensCM", sans-serif;
  margin-bottom: 20px;
}

.lead_inner .lead_inner-p {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 40px;
}

.lead_body {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  border: 1px solid #EA5546;
  padding: 25px 20px;
}

.lead_body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 15px;
}

.lead_body-form-item {
  position: relative;
  width: 32%;
}

.lead_body-form-item .input_top-name,
.lead_body-form-item .input_top-phone {
  padding: 0 10px 0px 10px;
  display: none;
  position: absolute;
  font-size: 12px;
  color: #EA5546;
  top: -19px;
  left: 0;
}

.lead_body-form-item .validation_name,
.lead_body-form-item .validation_phone {
  position: absolute;
  right: 0;
  top: 6px;
  display: none;
}

.lead_body-form-item input {
  border: none;
  border-bottom: 1px solid #EA5546;
  background-color: transparent;
  color: #250704;
  padding: 0 10px 18px 10px;
  width: 100%;
}

.lead_body-form-item input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.lead_body-form-item input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.lead_body-form-item input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.lead_body-form-item input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.lead_body-form-item input::placeholder {
  color: rgba(0, 0, 0, 0.25);
  font-size: 18px;
}

.lead_body-form-item input:focus::-webkit-input-placeholder {
  color: #000;
  font-weight: 500;
}

.lead_body-form-item input:focus::-moz-placeholder {
  color: #000;
  font-weight: 500;
}

.lead_body-form-item input:focus:-ms-input-placeholder {
  color: #000;
  font-weight: 500;
}

.lead_body-form-item input:focus::-ms-input-placeholder {
  color: #000;
  font-weight: 500;
}

.lead_body-form-item input:focus::placeholder {
  color: #000;
  font-weight: 500;
}

.lead_body-license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lead_body-license p,
.lead_body-license a {
  font-size: 12px;
  color: #949494;
}

.lead_body-license a {
  border-bottom: 1px solid #949494;
}

.lead_body-license a:hover {
  color: #EA5546;
  border-bottom: 1px solid #EA5546;
}

.contacts_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
  margin-bottom: 80px;
}

.contacts_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.contacts_info h6 {
  font-size: 32px;
  font-family: "GardensCM", sans-serif;
  margin-bottom: 20px;
}

.contacts_info .callme {
  margin-bottom: 30px;
}

.footer-underline {
  width: 100px;
  height: 1px;
  background-color: #EA5546;
  margin-bottom: 40px;
}

.contacts_tel {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_info .bottom-info {
  color: #250702;
  font-size: 16px;
  margin-bottom: 30px;
  font-weight: 500;
}

.top-info {
  color: #949494;
  font-size: 10px;
  margin-bottom: 6px;
}

#map {
  min-width: 708px;
  min-height: 400px;
  border: 1px solid #EA5546;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 18px 0 20px;
}

.footer_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privacy_policy {
  font-size: 14px;
  font-weight: 500;
}

.privacy_policy a {
  border-bottom: 1px solid #250704;
}

.privacy_policy a:hover {
  color: #EA5546;
  border-bottom: 1px solid #EA5546;
}

.agency {
  font-size: 14px;
  font-weight: 500;
}

.agency a {
  border-bottom: 1px solid #250704;
}

.agency a:hover {
  color: #EA5546;
  border-bottom: 1px solid #EA5546;
}

button,
a {
  text-decoration: none;
  font-weight: 500;
  position: relative;
  display: inline-block;
  text-align: center;
}

.light_btn {
  background-color: transparent;
  border: 1px solid #EA5546;
  color: #EA5546;
  padding: 15px 35px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.light_btn:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: #ea5546;
  top: 0;
  left: 50%;
  z-index: -1;
  -webkit-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  transition: all 0ms ease;
}

.light_btn:hover {
  background-color: #EA5546;
  color: #ffffff;
}

.light_btn:hover:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: #ffffff;
  top: 0;
  left: 0%;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.light_btn:active {
  border: 1px solid #ef8074;
  background-color: #EF8074;
  color: #ffffff;
}

.dark_btn {
  background-color: #EA5546;
  border: 1px solid #EA5546;
  color: #fff;
  font-size: 16px;
  text-align: center;
  padding: 16px 50px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.dark_btn:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  background: #ea5546;
  top: 0;
  left: 50%;
  z-index: -1;
  -webkit-transition: all 0ms ease;
  -o-transition: all 0ms ease;
  transition: all 0ms ease;
}

.dark_btn:hover {
  background-color: transparent;
  color: #EA5546;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.dark_btn:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  top: 0;
  left: 0%;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.dark_btn:active {
  border: 1px solid #ef8074;
  color: #ef8074;
  background-color: transparent;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #F6F5F1;
  top: 0;
  left: 0;
  display: none;
  z-index: 99999999999;
}

.popup_body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 6px;
}

.popup_close {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(234, 85, 70, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  fill: #EA5546;
  top: -54px;
  right: -54px;
}

.popup_close:hover {
  fill: #ffffff;
  background-color: #EA5546;
}

.popup_inner {
  border: 1px solid #EA5546;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 30px;
  position: relative;
  width: 100%;
  max-width: 408px;
}

.popup_inner .lead_body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.popup_inner .lead_body-form-item {
  width: 100%;
  margin-top: 46px;
  margin-bottom: 20px;
}

.popup_inner .lead_body-form-item:first-child {
  margin-bottom: 0;
}

.popup_inner .lead_body-license {
  max-width: 370px;
  text-align: center;
}

.popup_title {
  font-size: 32px;
  font-family: "GardensCM", sans-serif;
  margin-bottom: 20px;
}

.popup_info {
  max-width: 363px;
  text-align: center;
  line-height: 120%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F5F1;
  font-family: "Geometria", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

*:focus {
  outline: none;
}

@media (max-width: 320px) {
  .container {
    width: 320px;
  }

  .header {
    margin-bottom: 81px;
  }

  .contacts-icons {
    display: none;
  }

  .scroll_top {
    display: none;
  }

  .header_inner {
    margin-bottom: 31px;
    padding-top: 17px;
  }

  .phone_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .address {
    display: none;
  }

  .contacts_tel {
    display: none;
  }

  .header_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .header_info h1 {
    font-size: 31px;
  }

  .social_icons {
    display: none;
  }

  .header_logo-info {
    display: none;
  }

  .header_info-title > p {
    font-size: 16px;
  }

  .info-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }

  .item_content {
    max-width: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .header_info-img {
    grid-template-columns: repeat(3, 92px);
    grid-template-rows: unset;
  }

  picture:nth-child(5) {
    display: none;
  }

  picture:nth-child(7) {
    display: none;
  }

  .vertical-line,
  .horisontal-line {
    display: none;
  }

  .header_button {
    width: inherit;
    margin-top: 0;
  }

  .header_button .header_btn {
    width: 100%;
  }

  .header_button .header_btn button {
    width: 100%;
  }

  .instructors {
    margin-bottom: 70px;
  }

  .instructor_name img,
  .instructor_vertical-line,
  .instructor_left-img,
  .instructor_right-img,
  .fone_picture,
  .bg_plant {
    display: none;
  }

  .top_info {
    margin-top: 0;
  }

  .top_info svg {
    width: 28px;
    height: 28px;
  }

  .top_info h3 {
    margin-top: 29px;
    margin-bottom: 50px;
    font-size: 24px;
  }

  .instructor {
    margin-bottom: 50px;
  }

  .instructor-container {
    display: block;
  }

  .instructor_name-info h4 {
    font-size: 36px;
    margin: 0 0 41px 0;
  }

  .instructor_name-info .name-info {
    font-size: 18px;
    width: 100%;
    margin: 0 0 20px 0;
  }

  .instructor .instructor_horisontal-line {
    top: 86px;
    left: 0;
  }

  .instructor_information {
    padding: 0;
  }

  .instructor_information-inner {
    margin-bottom: 20px;
  }

  .instructor_information-p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 130%;
  }

  .paggination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }

  .paggination .pag_item {
    width: 8px;
    height: 8px;
    border: 1px solid #EA5546;
    cursor: pointer;
  }

  .paggination .pag_item.pag_active {
    background-color: #EA5546;
  }

  .paggination .pag_item:not(last-child) {
    margin-right: 6px;
  }

  .text_align-right {
    text-align: left;
  }

  #horisontal_reset {
    left: 0;
  }

  .forty_margin {
    margin-top: 0;
  }

  .info_title .info_bcg-right,
  .info_title .info_bcg-left {
    display: none;
  }

  .cards {
    margin-bottom: 0px;
  }

  .top_info .info_title p {
    text-align: center;
    max-width: 228px;
  }

  .info_title {
    margin-bottom: 50px;
  }

  .more_info {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .more_info-content {
    font-size: 14px;
  }

  .two_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .two_column div {
    padding: 6px 0;
  }

  .three_column {
    grid-template-columns: 1fr;
  }

  .three_column div {
    padding: 6px 0;
  }

  .last_column {
    justify-self: start;
  }

  .first_column {
    font-weight: 500;
  }

  .lead {
    margin-bottom: 60px;
  }

  .lead_inner h6 {
    font-size: 31px;
  }

  .lead_inner .lead_inner-p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .lead_body-form {
    margin-bottom: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 320px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .dark_btn {
    width: 70%;
    padding: 23px 42px;
  }

  .lead_body-form-item {
    width: 92%;
  }

  .lead_body-license a,
  .lead_body-license p {
    text-align: center;
  }

  .contacts_inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
  }

  #map {
    min-width: auto;
  }

  .contacts_info .contacts_tel,
  .contacts_info .social_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .contacts_tel a {
    font-size: 22px;
  }

  .contacts_info .callme,
  .footer_info .bottom-info {
    margin-bottom: 20px;
  }

  .addres_icon {
    widows: 42px;
    height: 42px;
    margin-bottom: 30px;
    margin-left: 10px;
  }

  .footer_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer_inner .logo {
    width: 100%;
    margin-bottom: 31px;
  }

  .footer_inner .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }

  .footer_inner .logo .header_info {
    text-align: start;
  }

  .privacy_policy {
    margin-bottom: 10px;
  }

  .popup_close {
    right: 0;
    top: 0;
    background-color: transparent;
  }
}