@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GardensCM";
  font-display: swap;
  src: url("../fonts/GardensCM.woff") format("woff"), url("../fonts/GardensCM.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Heavy";
  font-display: swap;
  src: url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Regular";
  font-display: swap;
  src: url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Light";
  font-display: swap;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 1130px;
  padding: 0 20px;
  margin: 0 auto;
}

.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 26px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_info {
  padding-left: 34px;
  font-size: 12px;
  line-height: 120%;
  color: #949494;
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addres_icon {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: rgba(234, 85, 70, 0.05);
  margin-left: 5px;
}

.address_inner {
  padding-left: 15px;
  font-size: 12px;
  color: #250704;
  font-weight: 500;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts_tel {
  margin-right: 20px;
}

.contacts_tel > a {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.callme {
  text-align: right;
  text-transform: uppercase;
  font-size: 10px;
  color: #EA5546;
  font-weight: 500;
  margin-top: 6px;
}

.social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_info {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_info h1 {
  font-family: "GardensCM", sans-serif;
  font-size: 56px;
  line-height: 110%;
  color: #250704;
  margin-top: 30px;
  margin-bottom: 20px;
}

.header_info h1 span {
  color: #EA5546;
}

.header_info-title > p {
  font-size: 18px;
  color: #949494;
  margin-bottom: 50px;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list_item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.point {
  width: 10px;
  height: 10px;
  border: 1px solid #EA5546;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.item_content {
  max-width: 190px;
  margin-left: 15px;
}

.header_info-img {
  display: grid;
  grid-template-columns: repeat(3, 170px);
  grid-template-rows: repeat(4, 170px);
  grid-gap: 10px;
}

.header_info-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

picture:nth-child(1) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

picture:nth-child(2) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

picture:nth-child(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

picture:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

picture:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

picture:nth-child(6) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

picture:nth-child(7) {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.header_button {
  margin-top: 111px;
  position: relative;
}

.header_button button {
  padding: 15px 32px;
  border: 1px solid #EA5546;
  background: transparent;
  font-family: "Geometria", sans-serif;
  font-size: 16px;
  line-height: 100%;
  color: #EA5546;
}

.header_button .vertical-line {
  width: 1px;
  height: 30px;
  background-color: #ea5546;
  position: absolute;
  top: -83px;
  left: 119px;
}

.header_button .horisontal-line {
  width: 343px;
  height: 1px;
  background-color: #ea5546;
  position: absolute;
  top: 24px;
  right: -100px;
}

.instructors {
  position: relative;
}

.top_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 126px;
}

.top_info h3 {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 70px;
  font-family: "GardensCM", sans-serif;
  line-height: 110%;
  font-size: 32px;
  color: #250704;
}

.instructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 120px;
}

.instructor h4 {
  font-weight: 900;
  font-size: 64px;
  text-transform: uppercase;
  margin-left: -30px;
  color: #250704;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  margin-top: 53px;
  margin-bottom: 61px;
}

.instructor .name-info {
  margin-left: 30px;
  width: 589px;
  font-size: 26px;
  line-height: 130%;
  color: #250704;
}

.instructor .instructor_horisontal-line {
  width: 250px;
  height: 1px;
  background-color: #EA5546;
  position: absolute;
  top: 204px;
  left: 412px;
}

.instructor .instructor_vertical-line {
  width: 1px;
  height: 160px;
  background-color: #EA5546;
  position: absolute;
  bottom: -126px;
  left: 20px;
  z-index: 1;
}

.fone_picture {
  position: relative;
}

.fone_picture img {
  position: absolute;
  -webkit-filter: contrast(0.2) opacity(0.1);
          filter: contrast(0.2) opacity(0.1);
  width: 267px;
  height: 383px;
  -o-object-fit: cover;
     object-fit: cover;
  top: -94px;
  right: 0;
}

.instructor_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.instructor_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.instructor_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 60px 0 168px;
  font-size: 13px;
}

.instructor_information .instructor_information-p {
  margin-bottom: 160px;
}

.revert {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.zero_padding {
  padding: 0;
}

.forty_margin {
  margin-top: 40px;
}

#line_right {
  right: 20px;
  left: unset;
  top: 366px;
}

.text_align-right {
  text-align: right;
}

.margin_right-30 {
  margin-right: 30px;
}

.margin-30 {
  margin-right: -30px;
}

#horisontal_reset {
  left: unset;
  right: 342px;
}

.parent_bg {
  position: relative;
}

.bg_plant {
  position: absolute;
  left: -225px;
  top: -562px;
  -webkit-filter: contrast(0.2) opacity(0.1);
          filter: contrast(0.2) opacity(0.1);
}

.info .top_info h3 {
  margin-bottom: 20px;
}

.info_title {
  position: relative;
  margin-bottom: 70px;
}

.info_title .info_bcg-right {
  position: absolute;
  top: -86px;
  right: -166px;
  -webkit-filter: contrast(0.2) opacity(0.1);
          filter: contrast(0.2) opacity(0.1);
}

.info_title .info_bcg-left {
  position: absolute;
  top: -86px;
  left: -166px;
  -webkit-filter: contrast(0.2) opacity(0.1);
          filter: contrast(0.2) opacity(0.1);
}

.red_text {
  color: #EA5546;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #EA5546;
  max-width: 270px;
}

.card button {
  background-color: #EA5546;
  border: 1px solid #EA5546;
  color: #fff;
  font-size: 16px;
  padding: 16px 0;
  margin: 0 15px 13px 15px;
}

.card_header {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "GardensCM", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid #EA5546;
  padding: 15px 40px;
  text-align: center;
}

.card_desc {
  padding: 14px 15px 20px 15px;
  font-size: 13px;
  color: #939393;
  line-height: 140%;
}

.card_teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 25px 15px;
  font-family: "Geometria", sans-serif;
}

.card_teacher .card_teacer-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}

.card_teacher .card_teacer-desc svg {
  margin-right: 7px;
}

.card_teacher .card_teacer-desc div {
  font-size: 13px;
  font-weight: 400;
}

.card_teacher .card_teacer-name {
  font-size: 13px;
  font-weight: 500;
  font-family: "Geometria", sans-serif;
}

.card_price {
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_sub-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  font-weight: 400;
  padding: 0 15px 25px 15px;
}

.card_sub-info svg {
  margin-right: 7px;
}

.more_info {
  border: 1px solid #EA5546;
  padding: 20px;
  margin-bottom: 100px;
}

.more_info-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.more_info-title .info_open-btn {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: rgba(234, 85, 70, 0.05);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.two_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(37, 7, 4, 0.05);
  padding: 15px 0;
}

.two_column:first-child {
  margin-top: 17px;
}

.three_column {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: minmax(520px, 1fr) 1fr 1fr;
  border-bottom: 1px solid rgba(37, 7, 4, 0.05);
  padding: 15px 0;
}

.no_border-bottom {
  border-bottom: none;
}

.last_column {
  justify-self: end;
}

.main_btn-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

.main_btn-light button {
  background-color: transparent;
  border: 1px solid #EA5546;
  color: #EA5546;
  padding: 15px 35px;
}

.more_info-content {
  overflow: hidden;
  max-height: 10000px;
  -webkit-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
}

.more_info-content.active_content {
  max-height: 0;
  -webkit-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
}

.info_open-btn.close_panel {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.bold_text {
  font-weight: 500;
}

body {
  background-color: #F6F5F1;
  font-family: "Geometria", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}