.footer{
    border-top: 1px solid rgba(#000000, 0.05);
    padding: 18px 0 20px;
}
.footer_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.privacy_policy{
    font-size: 14px;
    font-weight: 500;
    a{
        border-bottom: 1px solid #250704;
        &:hover{
            color: #EA5546;
            border-bottom: 1px solid #EA5546;
        }
    }
}
.agency{
    font-size: 14px;
    font-weight: 500;
    a{
        border-bottom: 1px solid #250704;
        &:hover{
            color: #EA5546;
            border-bottom: 1px solid #EA5546;
        }
    }
}

@media (max-width: 901px) {
    .footer_inner{
        display: flex;
        flex-direction: column;
    }
    .footer_inner .logo{
        width: 100%;
        margin-bottom: 31px;
        a{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .header_info{
            text-align: start;
        }
    }
    .footer .logo a .header_info{
        margin-top: 0;
    }
    .privacy_policy{
        margin-bottom: 10px;
    }
}