// кнопка скролла наверх
.scroll_top{
    position: fixed;
    top: 88%;
    right: 2%;
    width: 48px;
    height: 48px;
    border: 1px solid #EA5546;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    cursor: pointer;
    z-index: 99999;
    svg{
        fill: #ea5546;
    }
    &:hover{
        background-color: #ea5546;
        transition: linear ease-out 0.6s;
        svg{
            fill: #fff;
        }
    }
    &:active{
        border: 1px solid #ef8074; 
        background-color: #ef8074;
        svg{
            fill: #ffffff;
        }
    }
    &.scroll_hide{
        display: none;
        transition: .4s;
    }
}
// конец кнопка скролла наверх

.header_inner{
    display: flex;
    padding: 26px 0;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}
.phone_icon{
    width: 44px;
    height: 44px;
    background-color: rgba(#ea5546, 0.05);
    border-radius: 50%;
    cursor: pointer;
    display: none;

    a{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    svg{
        fill: #EA5546;
    }
    &:hover{
        background-color: #EA5546;
        svg{
            fill: #fff;
        }
    }
}
.logo{
    display: flex;
    align-items: center;
}
.header_info{
    padding-left: 34px;
    font-size: 12px;
    line-height: 120%;
    color: #949494;
}
.address{
    display: flex;
    align-items: center;
}
.icon{
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(234, 85, 70, 0.05);
    margin-left: 5px;
    svg{
        fill: #ea5546;
    }
}

.addres_icon {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(234, 85, 70, 0.05);
    margin-left: 5px;
    cursor: pointer;
    svg{
        fill: #ea5546;
    }
    &:hover{
        background-color: #ea5546;
        transition: linear ease-out 0.6s;
        svg{
            fill: #fff;
        }
    }

}
.address_inner{
    padding-left: 15px;
    font-size: 12px;
    color: #250704;
    font-weight: 500;
}
.contacts{
    display: flex;
    align-items: center;
}

.header .contacts_tel{
    align-items: flex-end;
}
.contacts_tel{
    margin-right: 20px;
    a{
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            color: #ea5546;
            transition: linear ease-out 0.5s;
        }
    }
}
.callme{
    text-align: right;
    text-transform: uppercase;
    font-size: 10px;
    color: #EA5546;
    font-weight: 500;
    margin-top: 6px;
    cursor: pointer;
    
    &:hover{
        box-shadow: 0px 1px 0px 0px #ea5546;
        transition: linear ease-out 0.5s;
    }
}

.social_icons{
    display: flex;
    
}
// Вторая часть хэдера с изображениями и заголовком
.header_info{
    padding: 0;
    display: flex;
    justify-content: space-between;
    h1{
        font-family: "GardensCM", sans-serif;
        font-size: 56px;
        line-height: 110%;
        color: #250704;
        margin-top: 30px;
        margin-bottom: 20px;
        span{
            color: #EA5546;
        }
    }
}
.header_info-title>p{
    font-size: 18px;
    color: #949494;
    margin-bottom: 50px;
}
.info-list{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    flex-wrap: wrap;
}
.list_item{
    margin-bottom: 30px;
    display: flex;
}
.point{
    width: 10px;
    height: 10px;
    border: 1px solid #EA5546;
    transform: rotate(45deg);
}
.item_content{
    max-width: 190px;
    margin-left: 15px;
}
.header_info-img{
    display: grid;
    grid-template-columns: repeat(3, 170px);
    grid-template-rows: repeat(4, 170px);
    grid-gap: 10px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
picture:nth-child(1){
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}
picture:nth-child(2){
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}
picture:nth-child(3){
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
picture:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
picture:nth-child(5){
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}
picture:nth-child(6){
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
picture:nth-child(7){
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}
.header_button{
    margin-top: 122px;
    position: relative;
    width: fit-content;

    .header_btn{
        width: fit-content;
        height: fit-content;
    }
    
    .vertical-line{
        width: 1px;
        height: 30px;
        background-color: #ea5546;
        position: absolute;
        top: -83px;
        left: 119px;
    }
    .horisontal-line{
        width: 343px;
        height: 1px;
        background-color: #ea5546;
        position: absolute;
        top: 24px;
        left: 309px;
    }
}
@media (max-width: 320px){
    .scroll_top{
        display: none; 
    }
    .header_inner{
        margin-bottom: 31px;
        padding-top: 17px;
    }
    .phone_icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .address{
        display: none;
    }
    .contacts_tel{
        display: none;
    }
    .header_info{
        flex-direction: column-reverse;
        h1{
            font-size: 31px;
        }
    }
    .social_icons{
        display: none;
    }
    .header_logo-info{
        display: none;
    }
    .header_info-title>p{
        font-size: 16px;
    }
    .info-list{
        flex-direction: column;
        width: 100%;
    }
    .item_content{
        max-width: unset;
        width: fit-content;
    }
    .header_info-img{
        grid-template-columns: repeat(3, 92px);
        grid-template-rows: unset;
    }
    picture:nth-child(5){
        display: none;
    }
    picture:nth-child(7){
        display: none;
    }
    .vertical-line, 
    .horisontal-line{
        display: none;
    }
    .header_button{
        width: inherit;
        margin-top: 0;
        .header_btn{
            width: 100%;
            button{
                width: 100%;
            }
        }
    }
}
