.info .top_info h3{
    margin-bottom: 20px;
}
.info_title{
    position: relative;
    margin-bottom: 70px;
    .info_bcg-right{
        position: absolute;
        top: -86px;
        right: -166px;
        filter: contrast(.2) opacity(.1);
    }
    .info_bcg-left{
        position: absolute;
        top: -86px;
        left: -166px;
        filter: contrast(.2) opacity(.1);
    }
}

.red_text{
    color: #EA5546;
}

// верстка карточек с информацией про курсы
.cards{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #EA5546;
    // padding: 15px 15px 25px;
    max-width: 270px;

    button{
        background-color: #EA5546;
        border: 1px solid #EA5546;
        color: #fff;
        font-size: 16px;
        padding: 16px 0;
        margin: 0 15px 13px 15px;
    }
}
.card_header{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "GardensCM", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid #EA5546;
    padding: 15px 40px;
    text-align: center;
}
.card_desc{
    padding: 14px 15px 20px 15px;
    font-size: 13px;
    color: #939393;
    line-height: 140%;
}
.card_teacher{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 25px 15px;
    font-family: "Geometria", sans-serif;
    .card_teacer-desc{
        display: flex;
        font-size: 13px;
        svg{
            margin-right: 7px;
        }
        div{
            font-size: 13px;
            font-weight: 400;
        }
    }
    .card_teacer-name{
        font-size: 13px;
        font-weight: 500;
        font-family: "Geometria", sans-serif;
    }
}
.card_price{
    font-size: 16px;
    font-weight: 500;
    padding: 0 15px 20px 15px;
    display: flex;
    justify-content: center;
}
.card_sub-info{
    display: flex;
    font-size: 13px;
    font-weight: 400;
    padding: 0 15px 25px 15px;
    svg{
        margin-right: 7px;
    }
}
// аккардеон, расскладушка
.more_info{
    border: 1px solid #EA5546;
    padding: 20px;
    margin-bottom: 100px;
}
.more_info-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .info_open-btn{
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: rgba(#EA5546, .05);
        transition: 0.5s;
    }
}
.two_column{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(#250704, .05);
    padding: 15px 0;
} 
.two_column:first-child{
    margin-top: 17px;
}
.three_column {
    display: grid;
    align-items: center;
    grid-template-columns: minmax(520px, 1fr) 1fr 1fr;
    border-bottom: 1px solid rgba(#250704, .05);
    padding: 15px 0;
}
.no_border-bottom{
    border-bottom: none;
}
.last_column{
    justify-self: end;
}
.main_btn-light{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    button{
        background-color: transparent;
        border: 1px solid #EA5546;
        color: #EA5546;
        padding: 15px 35px;
    }
}
.more_info-content{
    overflow: hidden;
    max-height: 10000px;
    transition: max-height 1s ease-out;
}
.more_info-content.active_content{
    max-height: 0;
    transition: max-height 1s ease-out;
}
.info_open-btn.close_panel{
    transform: rotate(45deg);
    transition: 0.5s;
}
.bold_text{
    font-weight: 500;
}