.top_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 126px;
    svg{
        width: 36px; 
        height: 26px;
    }
    h3{
        text-align: center;
        margin-top: 22px;
        margin-bottom: 70px;
        font-family: "GardensCM", sans-serif;
        line-height: 110%;
        font-size: 32px;
        color: #250704;
    }
}

.instructor{
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
    min-width: 0;
    h4{
        font-weight: 900;
        font-size: 64px;
        text-transform: uppercase;
        margin-left: -30px;
        color: #250704;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        margin-top: 53px;
        margin-bottom: 61px;
        max-width: 480px;
    }
    .name-info{
        margin-left: 30px;
        // width: 589px;
        font-size: 26px;
        line-height: 130%;
        color: #250704;
    }
    .instructor_horisontal-line{
        width: 250px;
        height: 1px;
        background-color: #EA5546;
        position: absolute;
        top: 208px;
        left: 412px;
    }
    .instructor_vertical-line{
        width: 1px;
        height: 160px;
        background-color: #EA5546;
        position: absolute;
        bottom: -142px;
        left: 20px;
        z-index: 1;
    }
}
.revert h4{
    margin-left: 269px;
}
.fone_picture{
    position: relative;
    img{
        position: absolute;
        filter: contrast(0.2) opacity(0.1);
        width: 267px;
        height: 383px;
        object-fit: cover;
        top: -94px;
        right: 0;
    }
}
.instructor_name{
    display: flex;
    position: relative;
    .instructor_name-img{
        width: 100%;
        height: 100%;
    }
}
.revert{
    flex-direction: row-reverse;
    .instructor_info-left{
        flex-direction: row-reverse;
        width: 50%;
        picture{
            width: 80%;
            height: 100%;
            img, source{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.zero_padding{
    padding: 0;
}
.forty_margin{
    margin-top: 40px;
}
#line_right{
    right: 20px;
    left: unset;
    top: 366px;
}
.text_align-right{
    text-align: right;
}
.margin_right-30{
    margin-right: 30px;
}
.margin-30{
    margin-right: -30px;
}
#horisontal_reset{
    left: unset;
    right: 342px;
}
.parent_bg{
    position: relative;
}
.bg_plant{
    position: absolute;
    left: -225px;
    top: -562px;
    filter: contrast(0.2) opacity(0.1);
}

// slider
*{
    box-sizing: border-box;
}
.instructor-wrapper{
    width: 100%;
    display: none;
}
.instructor-container{
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.paggination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    .pag_item{
        width: 8px;
        height: 8px;
        border: 1px solid #EA5546;
        cursor: pointer;
    }
    .pag_item.pag_active{
        background-color: #EA5546;
    }
    .pag_item:not(last-child){
        margin-right: 6px;
    }
}
.instructor-slides{
    display: flex;
    justify-content: space-between;
    height: 100%;
    min-width: 100%;
}
.instructor-slide{
    max-width: 288px;
    min-width: 100%;
    // margin: 0 6px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 0 3px;
    }
}
// нижняя часть с фотографиями и информацией
.instructor_info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    .instructor_info-left{
        height: 90%;
        width: 69%;
        display: flex;
        justify-content: space-between;
        picture{
            height: 403px;
            width: 43%;
            object-fit: cover;
            align-self: flex-end;
            source,img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .instructor_information{
            width: 40%;
            padding: 0 6px;
        }
    }
    .instructor_info-rihgt{
        height: 100%;
        width: 38%;
        .instructor_right-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    }
}
.instructor_information-p {
    margin-bottom: 15px;
    &:last-child{
        margin-bottom: 20%;
    }
}

@media (max-width: 984px) {
    .instructor_info .instructor_info-left picture{
        display: none;
    }
    .instructor_info .instructor_info-left{
        width: 50%;
    }
    .instructor_info .instructor_info-left .instructor_information {
        width: 100%;
    }
    .instructor_info .instructor_info-rihgt{
        width: 48%;
    }
}
@media (max-width: 782px) {
    .instructor_info{
        margin-top: 15px;
    }
    .instructor_name{
        flex-direction: column;
        align-items: center;
    }
    .instructor_name .instructor_name-img img{
        width: 100%;
    }
    .instructor h4{
        font-size: 44px;
        margin-left: 0;
        -webkit-text-stroke-width: 1px;
        margin-top: 20px;
        margin-bottom: 28px;
    }
    .item_content{
        max-width: 100%;
    }
    .info-list{
        margin-right: 0;
    }
    .instructor .instructor_horisontal-line{
        display: none;
    }
    .instructor_vertical-line{
        display: none;
    }
    .text_align-right {
        text-align: left;
    }
    #horisontal_reset{
        left: 0;
    }
    .forty_margin{
        margin-top: 0;
    }
}

@media (max-width: 674px) {
    .instructor_info .instructor_info-rihgt{
        display: none;
    }
    .instructor_info .instructor_info-left{
        width: 100%;
        margin-top: 10px;
    }
    .instructor_information-p:last-child{
        margin-bottom: 14%;
    }
    .instructor .name-info{
        margin-left: 0;
    }
}

@media (max-width: 426px){
    .instructors{
        margin-bottom: 70px;
    }
    .instructor_name-img,
    .instructor_left-img,
    .instructor_right-img,
    .fone_picture,
    .bg_plant{
        display: none;
    }
    .instructor .instructor_horisontal-line{
        display: block;
        top: 86px;
        left: 0;
    }
    .top_info{
        margin-top: 80px;
    } 
    .top_info svg{
        width: 28px;
        height: 28px;
    }
    .top_info h3{
        margin-top: 29px;
        margin-bottom: 50px;
        font-size: 24px;
    }
    .instructor{
        margin-bottom: 50px;
    }
    .instructor-wrapper{
        display: block;
    }
    .instructor_name-info h4{
        font-size: 36px;
        margin: 0 0 41px 0;
        max-width: 250px;
    }
    .instructor_name-info .name-info{
        font-size: 18px;
        width: 100%;
        margin: 0 0 20px 0;
    }
    .instructor_information {
        padding: 0;
    }
    .instructor_information-inner{
        margin-bottom: 20px;
    }
    .instructor_information-p{
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 130%;
    }
    
}