.lead {
    margin-bottom: 80px;
}
.lead_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h6{
        font-size: 56px;
        font-family: "GardensCM", sans-serif;
        margin-bottom: 20px;
    }
    .lead_inner-p{
        text-align: center;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 40px;
    }
}
.lead_body {
    align-self: stretch;
    border: 1px solid #EA5546;
    padding: 25px 20px;
}
.lead_body-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 15px;
}
.lead_body-form-item{
    position: relative;
    width: 32%;
    .input_top-name,
    .input_top-phone{
        padding: 0 10px 0px 10px;
        display: none;
        position: absolute;
        font-size: 12px;
        color: #EA5546;
        top:-19px;;
        left: 0;
    }
    .validation_name,
    .validation_phone{
        position: absolute;
        right: 0;
        top: 6px;
        display: none;
    }
    input{
        border: none;
        border-bottom: 1px solid #EA5546;
        background-color: transparent;
        color: #250704;
        padding: 0 10px 18px 10px;
        width: 100%;
    }
    input::placeholder{
        color: rgba(#000000, 0.25);
        font-size: 18px;
    }
    input:focus::placeholder{
        color: #000;
        font-weight: 500;
    }
}
.lead_body-license {
    display: flex;
    justify-content: center;
    p,a{
        font-size: 12px;
        color: #949494;
    }
    a{
        border-bottom: 1px solid #949494;
        &:hover{
            color: #EA5546;
            border-bottom: 1px solid #EA5546;
        }
    }
}
@media (max-width: 426px) {
    .lead{
        margin-bottom: 60px;
    }
    .lead_inner h6{
        font-size: 31px;
    }
    .lead_inner .lead_inner-p{
        font-size: 14px;
        margin-bottom: 30px;
    }
    .lead_body-form{
        margin-bottom: 15px;
        flex-direction: column;
        min-height: 320px;
        justify-content: space-around;
        align-items: flex-start;
    }
    .dark_btn{
        width: 70%;
        padding: 23px 42px;
    }
    .lead_body-form-item{
        width: 92%;
    }
    .lead_body-license a, .lead_body-license p{
        text-align: center;
    }
}