@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@font-face {
    font-family: "Geometria";
    font-display: swap;
    src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Geometria";
    font-display: swap;
    src: url("../fonts/Geometria-Regular.woff") format("woff"), url("../fonts/Geometria-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Geometria";
    font-display: swap;
    src: url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "GardensCM";
    font-display: swap;
    src: url("../fonts/GardensCM.woff") format("woff"), url("../fonts/GardensCM.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@import "fonts";
@import "normalize";
@import "reset";
@import "container";
@import "header";
@import "instructors";
@import "information";
@import "lead";
@import "contacts";
@import "footer";

@import "buttons";

html{
    scroll-behavior: smooth;
}
body{
    background-color: #F6F5F1;
    font-family: "Geometria", sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
    color: #000;
}
*:focus {
    outline: none;
}


